<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Brian Rolczynski" %></title>

    <%= stylesheet_link_tag :site %>
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <footer id="copyright">
      <div class="footer-links">
        <a href=#>HOME</a>
        <span class="divider">|</span>
        <a href=#>RESEARCH</a>
        <span class="divider">|</span>
        <a href=#>PUBLICATIONS</a></span>
        <span class="divider">|</span>
        <a href=#>CURRICULUM VITAE</a>
        <span class="divider">|</span>
        <a target="_new" href="https://www.linkedin.com/in/brolczynski">LINKEDIN</a>
      </div>
      
      <p class='copy'>&copy; BRIAN ROLCZYNSKI 2016</p>
    </footer>

  </body>
</html>
